.active {
    background-color: blueviolet;
}
.signal {
    position: absolute;
    left: 40px;
    top: 3px;
    height: 10px;
    width: 10px;
}
.online {
    background-color: green;
}
.offline {
    background-color: rgba(71, 60, 60, 0.602);
}
.icon {
    position: relative;
}
::-moz-selection { /* Code for Firefox */
    background: rgba(144, 165, 226, 0.671);
}
  
::selection {
    background: rgba(144, 165, 226, 0.671);
}
#tool_bar > *{
    display: inline-flex;
    border: 1px solid grey;
    background-color: #f0f0f5;
    border-radius: 2px;
    font-size: 16px;
    width: 25px;
    height: 24px;
    align-items: center;
    justify-content: center;

}
#tool_bar .space{
    margin-right: 5px;
}
#tool_bar >.ctn{
    width: fit-content;
}

#tool_bar > .select{
    border: none
}
#tool_bar > .select select{
    font-size: 13px;
    display: inline-block;
    height: 24px;
    width: max-content;
    border: 1px solid grey;
    border-radius: 2px;
}
#tool_bar > .select select:focus{
    border: 2px solid grey;
    border-radius: 3px;
    outline: none;

}
#tool_bar > .select select{
    border: 1px solid grey;
    border-radius: 3px;
}
#tool_bar .colr .prev-i > i{
    font-size: 15px;
}
#tool_bar .colr .prev-i{
    display: inline-flex;
    flex-direction: column;
    margin-right: 2px;
}
#tool_bar .colr .prev-i >div{
    height: 3px;
    margin-top: 0px;
}
#tool_bar .color-select{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    border: 1px solid green
}
#tool_bar .i-wrapper{
    position: relative;
}
#tool_bar .activated{
    background-color: #ccefff;
}
#tool_bar .disabled{
    opacity: 0.55;
}
#tool_bar{
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
}
#editor_area p{
    margin: 0px 0px;
}
#editor_area *{
    font-size: 16px;
}
#editor_area *:not(pre){
    font-family: Arial, Helvetica, sans-serif;
}
#editor_area{
    position: relative;
    top: 0px;
}
#img{
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.img_ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-wrap: nowrap;
}
.close_img{
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    z-index: -1;
}
.img_focus{
    outline: 3px solid rgb(179, 206, 255);
    opacity: 1;
    z-index: 1;

}
div[class*='img_focus']{
    z-index: 2;
}
.close_img:hover{
    cursor: pointer;
    background-color: red;
}
figure{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
figure>img{
    z-index: 0;
}
.zero_space:not(:first-child){
    margin: 1px 1px;
    align-self: stretch;

}
.zero_space:first-child{
    margin-right: 1px;
    align-self: stretch;
}
.zero_space:last-child{
    margin-left: 2px;
    align-self: flex-end;
}
.holder_before::before{
    content: 'write caption for this....';
    text-align: center;
    opacity: 0.5;
}
#editor_area figcaption{
    display: flex;
    justify-content: center;
    text-align: center;
}
td, thead{
    border: 1px solid grey;
    text-align: center;
}