body *:not(#editor_area *){
    margin: 0px 0px;
    padding: 0px 0px;
    outline: none;
}
footer{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    height: 15vh;
    justify-self: end;
    margin-top: 10px;
}
footer a{
    color: #131418;
}
footer>#contact{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    font-size: 17px;
    justify-items: center;
}
footer>#info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 7px;
    text-decoration: underline;
}
/**/
#login_page{
    padding: 4px;
    width: 250px;
}
#login_page>#signup{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
}
#login_page input,
#login_page>button,
.btn {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}
.btn{
  border: none;
}
input:hover,
#login_page>button,
.btn:hover {
  opacity: 1;
}
#login_page>button{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;

  }
  
#login_page>button:hover {
    background-color: #45a049;
}
#login_page>button:focus {
    background-color: #45a049;
}
.fb {
  background-color: #3B5998;
  color: white;
}

.github {
  background-color: #000000b1;
  color: white;
}
/**/
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#main_app{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40px 1fr;
    row-gap: 10px;
    justify-items: center;
    min-height: 100vh;
}
#app_header{
    width: 100%;
    height: 40px;
    justify-self: start;
    background-color: #4CAF50;
    grid-area: 1/1/2/4;
}
#app_body{
    grid-area: 2/2/3/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 500px){
    #main_app{
        grid-template-columns: 100%;
        grid-template-rows: 30px 1fr;
    }
    #app_header{
        grid-area: 1/1/2/2;
        height: 30px;
    }
    #app_body{
        grid-area: 2/1/3/2;
    }
}
#game_layout{
    width: 100%;
}
#game_layout>div:not(:first-child){
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#invite_list{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    width: 100%;
    overflow: auto;
    font-size: small;
}
#invite_list>div{
    display: flex;
    margin: 5px 5px;
    align-items: center;
}
#invite_list>div>div:last-child{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}
#invite_list a{
    text-decoration: none;
    margin-left: 7px;
}
#invite_list button{
    width: 40px;
}
#invite_list button:not(:disabled){
    background-color: rgb(132, 195, 235);
    border-radius: 3px;
    border: 1px solid lightslategrey;
}
#invite_list button:not(:disabled):hover{
    opacity: 0.8;
}
#game_nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
@media screen and (max-width:420px){
    #game_nav{
        /* justify-content: space-between; */
        flex-direction: row-reverse;
    }
}
#select_poong>div:first-child,
#select_life{
    display: flex;
    position: relative;
    width: 100px;
    height: 60px;
    padding: 3px 3px;
    justify-content: center;
    align-items: center;
}
#select_life td{
    width: 6px;
    height: 6px;
}
#select_poong{
    position: relative;
}
#invite_board{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#select_poong .yard{
    position: absolute;
    background-color: pink;
    border: 1px solid grey;
    width: 94px;
    height: 54px;
    opacity: 0.8;
}
#select_poong>div:first-child>i,
#select_life>i{
    width: 100%;
    height: 100%;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
#select_poong>div:first-child>i:hover{
    color: teal;
    font-size: x-large;
}
#select_life>i:hover{
    color: orange;
    font-size: x-large;
}
#select_poong .ibullet{
    position: absolute;
    top: 20px;
    left: 60px;
}
#select_poong .iplayer{
    background: transparent;
}
#select_poong .p_body{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 5px;
    top: 15px;
    background-color: green;
    border: 1px solid yellow;
}
#select_poong .p_hand{
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid #555;
    top: 19px;
    left: 19px;
}
.find_user{
    opacity: 1;
    width: 100%;
    /* border-bottom: #3B5998 solid 3px; */
    height: 28px;
    padding: 5px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
}
.find_user input{
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    outline: none;
}
.find_user i:first-child{
    justify-self: start;
    opacity: 0.6;
}
.find_user i:last-child{
    justify-self: end;
    font-size: 18px;
    color:  rgb(78, 81, 122);
    cursor: pointer;
    z-index: 2;
}
.user_board{
    border: 1px solid  lightgray;
    width: 240px;
    background-color: white;
}

#player_board{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
#player_board>div{
    display: flex;
}
#player_board .score_status{
    display: flex;
}
#player_board .score_status span:last-child{
    margin-left: 5px;
}
.ibullet{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orangered;
    display: inline-block;
}
#player_board .dead{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
#player_board .alive{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.user a{
    color: rgb(53, 53, 155);
}
.user img{
    border-radius: 50%;
}
.user>div:last-child{
    margin-left: 7px;
}
.icon {
    position: relative;
    display: flex;
}
.user_small img{
    width: 45px;
    height: 45px;
}
.user_small .signal {
    left: 30px;
    top: 35px;

}
.signal{
    position: absolute;
    height: 12px;
    width: 12px;
    border: 2px solid rgb(211, 222, 223);
    border-radius: 50%;
}
.online {
    background-color: rgb(18, 201, 18);
}
.offline {
    background-color: rgb(163, 154, 154);
}
::-moz-selection { /* Code for Firefox */
    background: rgba(144, 165, 226, 0.671);
}
  
::selection {
    background: rgba(144, 165, 226, 0.671);
}
#tool_bar > *{
    display: inline-flex;
    border: 1px solid grey;
    background-color: #f0f0f5;
    border-radius: 2px;
    font-size: 16px;
    width: 25px;
    height: 24px;
    align-items: center;
    justify-content: center;

}
#tool_bar .space{
    margin-right: 5px;
}
#tool_bar >.ctn{
    width: fit-content;
}

#tool_bar > .select{
    border: none
}
#tool_bar > .select select{
    font-size: 13px;
    display: inline-block;
    height: 24px;
    width: max-content;
    border: 1px solid grey;
    border-radius: 2px;
}
#tool_bar > .select select:focus{
    border: 2px solid grey;
    border-radius: 3px;
    outline: none;

}
#tool_bar > .select select{
    border: 1px solid grey;
    border-radius: 3px;
}
#tool_bar .colr .prev-i > i{
    font-size: 15px;
}
#tool_bar .colr .prev-i{
    display: inline-flex;
    flex-direction: column;
    margin-right: 2px;
}
#tool_bar .colr .prev-i >div{
    height: 3px;
    margin-top: 0px;
}
#tool_bar .color-select{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    border: 1px solid green
}
#tool_bar .i-wrapper{
    position: relative;
}
#tool_bar .activated{
    background-color: #ccefff;
}
#tool_bar .disabled{
    opacity: 0.55;
}
#tool_bar{
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
}
#editor_app{
    width: 100%;
}
#editor_area{
    min-height: 90vh;
    width: 100%;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0
}
#editor_area *{
    min-height: 1,1em;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#editor_area *:not(span){
    width: 100%;
    overflow-wrap: break-word
}
#editor_area figcaption{
    display: flex;
    justify-content: center;
    text-align: center;
}
#editor_area *:not(pre){
    font-family: Arial, Helvetica, sans-serif;
}
#img{
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.img_ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-wrap: nowrap;
}
.close_img{
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    z-index: -1;
}
.img_focus{
    outline: 3px solid rgb(179, 206, 255);
    opacity: 1;
    z-index: 1;

}
div[class*='img_focus']{
    z-index: 2;
}
.close_img:hover{
    cursor: pointer;
    background-color: red;
}
figure{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
figure>img{
    z-index: 0;
}
.zero_space:not(:first-child){
    margin: 1px 1px;
    align-self: stretch;

}
.zero_space:first-child{
    margin-right: 1px;
    align-self: stretch;
}
.zero_space:last-child{
    margin-left: 2px;
    align-self: flex-end;
}
.holder_before::before{
    content: 'write caption for this....';
    text-align: center;
    opacity: 0.5;
}
td, thead{
    border: 1px solid rgba(128, 128, 128, 0.713);
    text-align: center;
}
#weather_app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#weather_app>div>p{
    font-weight: bold;
    font-size: large;
}
#search_bar>button{
    background: transparent;
    border: none;
    font-size: large;
    margin-left: 10px;
    width: 20px;
    outline: none;
}
#search_bar>input{
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}
#weather_show{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#weather_main{
    display: flex;
    flex-direction: column;
}
#weather_sub>*{
    margin-left: 10px;
    margin-right: 10px;
}
#weather_sub{
    display: flex;
    flex-direction: row;
}

#similar_app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}
#input_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    align-self: center;
    margin-top: 20px;
}
#input_data>div{
    display: flex;
    flex-wrap: wrap;
}
#input_data>div>div:first-child>input{
    margin-right: 10px;
}
#input_data>button{
    width: 50px;
    margin-top: 10px;
}
#input_data>button:focus{
    border: solid 2px rgb(178, 223, 224);
    border-radius: 5px;
}
#input_data>button{
    height: 28px;
    outline: none;
}
#input_data>p{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;
}
#input_data>div>div>label{
    margin-right: 10px;
}
#display_result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#display_result>p{
    font-weight: bold;
    margin-bottom: 10px;
}
#display_result>p .src-des{
    font-style: italic;
    text-decoration: underline;
}
#display_result>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#display_result>div>table{
    margin-right: 50px;
}
#display_result>div>ol{
    margin-left: 10px;
}
#display_result>div>ol .illustrate{
    letter-spacing: 2px;
    text-align: center;
}
#display_result>div>ol .tail{
    opacity: 0.7;
}
#display_result>div>ol .insert{
    background-color:  #42f342c7;
    border-radius: 4px;
}
#display_result>div>ol .substitute{
    background-color:  rgba(255, 255, 0, 0.782);
    border-radius: 4px;

}
#display_result>div>ol .delete{
    background-color:  #ff5c33;
    border-radius: 4px;
}
#display_result>div>table td{
    min-width: 20px
}
#display_result>div>table .best{
    background-color:  #00b33c8e;
}
#display_result>div>table>tbody>tr:nth-child(2)>td:not(:first-child){
    background-color:  pink;
    font-weight: bold;
}
#display_result>div>table>tbody>tr:not(:first-child)>td:nth-child(2){
    background-color: pink;
    font-weight: bold;
}
#display_result>div>table>tbody>tr>td:first-child{
    border: none;
    opacity: 0.6;
}
#display_result>div>table>tbody>tr:first-child>td{
    border: none;
    opacity: 0.6;
}
#display_result>div>table>tbody>tr:nth-child(2)>td:nth-child(2){
    border: none;
    background: none;
}

table{
    empty-cells: show;
}
#life_game>table>tbody{
    border: 2px solid grey;
}
#life_game>table>tbody>tr>td{
    border: 1px solid lightgrey;
    min-width: 8px;
    height: 8px;
}
@media screen and (max-width:420px){
    #life_game>table>tbody>tr>td{
        min-width: 5px;
        height: 5px;
    }
    
}
tr>.alive{
    background-color: #66b3ff;
}
tr>.dead{
    background-color: unset;
}

@media screen and (max-width:480px){
    #input_data>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    #input_data>button{
        align-self: center;
    }
    #input_data>div>div:first-child>input{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    #display_result>div{
        justify-content: start;
    }
    #display_result>div>table{
        margin-right: 25px;
    }
    #similar_app{
        align-items: flex-start;
    }
    
}
img:hover{
    transform: none;
}
.active {
    background-color: blueviolet;
}
.hide{
    display: none;
}