.active {
    background-color: blueviolet;
}
.signal {
    position: absolute;
    left: 40px;
    top: 3px;
    height: 10px;
    width: 10px;
}
.online {
    background-color: green;
}
.offline {
    background-color: rgba(71, 60, 60, 0.602);
}
.icon {
    position: relative;
}
::-moz-selection { /* Code for Firefox */
    background: rgba(144, 165, 226, 0.671);
}
  
::selection {
    background: rgba(144, 165, 226, 0.671);
}
#tool_bar > *{
    display: inline-flex;
    border: 1px solid grey;
    background-color: #f0f0f5;
    border-radius: 2px;
    font-size: 16px;
    width: 25px;
    height: 24px;
    align-items: center;
    justify-content: center;

}
#tool_bar .space{
    margin-right: 5px;
}
#tool_bar >.ctn{
    width: fit-content;
}

#tool_bar > .select{
    border: none
}
#tool_bar > .select select{
    font-size: 13px;
    display: inline-block;
    height: 24px;
    width: max-content;
    border: 1px solid grey;
    border-radius: 2px;
}
#tool_bar > .select select:focus{
    border: 2px solid grey;
    border-radius: 3px;
    outline: none;

}
#tool_bar > .select select{
    border: 1px solid grey;
    border-radius: 3px;
}
#tool_bar .colr .prev-i > i{
    font-size: 15px;
}
#tool_bar .colr .prev-i{
    display: inline-flex;
    flex-direction: column;
    margin-right: 2px;
}
#tool_bar .colr .prev-i >div{
    height: 3px;
    margin-top: 0px;
}
#tool_bar .color-select{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    border: 1px solid green
}
#tool_bar .i-wrapper{
    position: relative;
}
#tool_bar .activated{
    background-color: #ccefff;
}
#tool_bar .disabled{
    opacity: 0.55;
}
#tool_bar{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#editor_area{
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}