body *:not(#editor_area *){
    margin: 0px 0px;
    padding: 0px 0px;
    outline: none;
}
#root, #app, body{
    width: 100%;
}
/* width */
body *::-webkit-scrollbar {
    width: 6px;
}

/* Track */
body *::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
body *::-webkit-scrollbar-thumb {
background: lightgrey; 
border-radius: 3px;
}

/* Handle on hover */
body *::-webkit-scrollbar-thumb:hover {
background: gray; 
}
.wait_ctn{
    display: flex;
    flex-wrap: nowrap;
    width: 89px;
    align-items: center;
    justify-content: space-between;
}
.wait_child{
    height: 15px;
    width: 20px;
    border-radius: 3px;
    background-color: lightgreen;
}
.highlight{
    background-color: rgb(18, 230, 18);
}
.lowlight{
    background-color: rgba(128, 128, 128, 0.775);
}
footer{
    display: grid;
}
#footer{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    grid-area: 1/1/2/2;
}
#footer > *{
    margin-bottom: 5px;
}
#footer > *:first-child{
    font-size: 15px;
}
#footer a{
    color: #131418;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#footer>#contact{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    font-size: 17px;
    justify-items: center;
}
#footer>#info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 7px;
    text-decoration: underline;
}
/**/
@keyframes welcome{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#login_page, #regist_page{
    padding: 4px;
    max-width: 260px;
    animation: welcome 5s forwards;
}
#login_page>#signup{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
}
#login_page input,
.s_btn,
#regist_page input,
.btn {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}
.btn{
  border: none;
}
input:hover,
#login_page>button,
.btn:hover {
  opacity: 1;
}
.s_btn{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;

  }
  
.s_btn:focus,
.s_btn:hover{
    background-color: #17661b;
}
.fb {
  background-color: #3B5998;
  color: white;
}

.github {
  background-color: #000000b1;
  color: white;
}
/**/
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#main_app{
    width: 100%;
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: 40px 1fr;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
#app_header{
    width: 100%;
    height: 40px;
    background-color: #30be93;
    grid-area: 1/1/2/4;
    position: fixed;
    top: 0px;
    z-index: 20;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hdr_ico{
    display: flex;
    justify-content: center;
    align-items: center;
}
#app_header i{
    cursor: pointer;
}
#app_header i{
    text-decoration: none;
    color: hsl(224, 90%, 20%);
    font-size: 1.5em;
}
#app_header .fa-gamepad,
#app_header .fa-home,
#app_header .fa-exchange
#app_header .fa-user{
    font-size: 1.85em;
}
#app_header i[class~=active],
#app_header a[class~=active]>i,
#app_header div[class~=active]>i{
    opacity: 1;
    color: hsl(224, 91%, 50%);
}
#app_header .set i{
    font-size: 1.1em;
}
#app_header .set {
    background-color: hsl(41, 100%, 70%);
    position: absolute;
    width: 150px;
    top: 47px;
    right: 7px;
    border-radius: 5px;
    padding: 5px 5px;
}
#app_header .drop{
    display: none;
}
#app_header .show_drop .drop{
    display: block;
}
#app_header .arrow {
    position: absolute;
    width: 0px;
    height: 0px;
    top:40px;
    border-bottom: 15px solid hsl(41, 100%, 70%);
    border-left: 15px solid transparent;
    border-right: 10px solid transparent;
}
#app_header .set > *{
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-rows: 1fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
    cursor: pointer;
}
#app_header #h_bell{
    position: relative;
}
#h_bell{
    cursor: pointer;
}
#h_bell #noti_num{
    position: absolute;
    top: -6px;
    right: -8px;
    width: 15px;
    height: 15px;
    background-color:hsl(1, 100%, 60%);
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 0.65em;
    border: 2px solid white;
    font-weight: bold;
}
#app_left, #app_right{
    position: fixed;
    top: 40px;
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 13;
}
#app_left{
    grid-area: 2/1/3/2;
    left: 0px;
    border-right: 1px solid lightgrey;
    padding-left: 5px;
}
#app_right{
    grid-area: 2/3/3/4;
    right: 0px;
    border-left: 1px solid lightgrey;
    padding-left: 5px;
}
#app_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.global_popup{
    position: fixed;
    width: 400px;
    height: 300px;
    left: calc(100vw/2 - 400px/2);
    top: calc(100vh/2 - 300px/2);
    background-color: #ffed6656;
    padding: 15px 15px;
    border-radius: 5px;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global_popup >div{
    width: 100%;
    height: 100%;
    background-color: #ffed66db;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wait_player{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.global_popup .fb_msg{
    color: red;
    text-align: center;
}
.global_popup button{
    background-color: rgb(255, 174, 0);
    width: 60px;
    border: 1px solid grey;
    border-radius: 5px;
}
@media screen and (max-width: 500px){
    .global_popup{
        width: 90%;
        height: 260px;
        left: calc(100vw/2 - 90%/2);
        top: calc(100vh/2 - 260px/2);
    }
}
#no_notice{
    margin-top: 10px;
    margin-left: 10px;
}
#notice_board{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-top: 10px;
}
#notice_board >*{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, rgba(255, 238, 0, 0.549), rgba(229, 255, 0, 0));
    padding: 3px 3px;
}
#notice_board .wait_child{
    height: 10px;
    margin-bottom: 5px;
}
#notice_board p{
    margin-bottom: 0px;
}
#notice_board .wrapper_even{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#notice_board .wrapper_even button{
    width: 60px;
}
#notice_board >*>div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#notice_board span{
    font-size: 0.85em;
}
#status_board{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}
#status_board .find_user{
    margin-bottom: 5px;
    margin-top: 5px;
}
#status_board #status_list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 7px;
    justify-items: flex-start;
}
#status_list > *{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    align-items: center;
}
#status_list > *:hover{
    background-color: lightblue;
    border-radius: 3px;
}
#status_list > * > div:last-child{
    width: 100%;
    display: grid;
    grid-template-columns: auto 80px;
    align-items: center;
    justify-items: center;
}
#status_list > * > div:last-child>*:first-child{
    justify-self: center;
    text-overflow: ellipsis;
}
#status_list > * > div:last-child>*:last-child{
    justify-self: start;
    opacity: 0.7;
    font-size: 0.9em;
}
#sql_query{
    width: calc(100% - 20px);
    min-height: 100%;
    position: relative;
}
#sql_opt{
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#sql_opt button:not(:first-child){
    width: 75px;
}
#sql_opt button{
    background-color:hsl(300, 87%, 90%);
    border-radius: 5px;
    border: 1px solid lightgrey;
}
#sql_opt button>i{
    color: rgb(54, 80, 136)
}
#sql_guide{
    width: 100%;
}
#diagram_ctn{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    border: #66b3ff 1px solid;
}
#diagram_ctn img{
    width: 100%;
    max-height: 65vh;
}
#sql_editor{
    min-height: 200px;
    width: 100%;
    outline: none;
}
@keyframes flicker{
    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
}
#sql_toggle{
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 30px;
    background-color: hsl(300, 87%, 75%);
    top: 35px;
    z-index: 10;
    transform: translateX(-30px) rotate(-45deg);
    padding-top: 10px;
    text-align: center;
    color: white;
    animation: flicker 1s 5 forwards;
}
#sql_query .pre_data{
    width: 100%;
    overflow: auto;
}
.pre_data table{
    font-size: 0.9em;
}
.pre_data thead td{
    background-color: rgb(207, 218, 232);
    font-weight: bold;
    font-size: 0.95em;
}
.pre_data td{
    max-width: 240px;
    font-size: 0.9em;
    padding-left: 3px;
    padding-right: 3px;
}
@media screen and (max-width: 1199px) and (min-width: 600px){
    #main_app{
        grid-template-columns: 1fr 240px;
        grid-template-rows: 40px 1fr;
    }
    #app_header{
        grid-area: 1/1/2/3;
    }
    #app_left{
        display: none;
    }
    #app_right{
        grid-area: 2/2/3/3;
    }
    #app_body{
        grid-area: 2/1/3/2;
    }
    .medium_hide{
        display: none;
    }
    footer{
        grid-template-columns: 1fr 240px;
        grid-template-rows: 1fr;
    }
}
@media screen and (max-width: 599px){
    #player_board{
        justify-content: space-between;
    }
    #main_app{
        grid-template-columns: 100%;
        grid-template-rows: 30px 1fr;
    }
    #app_header{
        grid-area: 1/1/2/2;
        height: 30px;
    }
    #app_header i{
        font-size: 1.2em;
    }
    #app_header .fa-gamepad,
    #app_header .fa-home,
    #app_header .fa-exchange,
    #app_header .fa-user{
        font-size: 1.4em;
    }
    #app_header .set{
        top: 37px;
    }
    #app_header .arrow{
        top: 30px;
    }
    #app_left,
    #app_right{
        display: none;
        top: 30px
    }
    #app_body{
        grid-area: 2/1/3/2;
    }
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .small_hide{
        display: none;
    }
    #sql_toggle{
        font-size: 0.8em;
        width: 45px;
        height: 25px;
        top: 25px;
        transform: translateX(-25px) rotate(-45deg);
        padding-top: 8px;
    }
}
@media screen and (min-width: 1200px){
    .large_hide{
        display: none;
    }
    #app_body{
        grid-area: 2/2/3/3;
    }
    footer{
        grid-template-columns: 240px 1fr 240px;
        grid-template-rows: 1fr;
    }
    #footer{
        grid-area: 1/2/2/3;
    }
}
.guide{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.guide > *:not(i){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guide i{
    padding: 3px 3px;
}
.guide .guide_content p{
    width: 75%;
    min-height: 5.5em;
    display: inline-block;
    word-wrap: break-word;
    padding: 5px 5px;
    text-align: center;
    background-color: #66b3ffdc;
    border-radius: 4px;

}
.guide>i{
    align-self: flex-end;
    color: rgba(0, 0, 0, 0.836);

}
.guide .guide_content{
    justify-content: space-around;
}
.guide .guide_index{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4CAF50;
    opacity: 0.3;
    margin-left: 10px;
    margin-right: 10px;
}
.guide .current{
    opacity: 0.8
}
#poong_guide{
    position: absolute;
    top:0px;
    left: 0px;
    width: 400px;
    background-color: #ffed664d;
    z-index: 2;
    padding-bottom: 10px;
    border-radius: 5px;
}
@media screen and (max-width:399px){
    #poong_guide{
        width: 240px;
    }
    #app_header i{
        font-size: 1em;
    }
    #app_header .fa-gamepad,
    #app_header .fa-home,
    #app_header .fa-exchange,
    #app_header .fa-user{
        font-size: 1.17em;
    }
}
#game_layout{
    width: 100%;
}
#game_layout>div:not(:first-child){
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#invite_list{
    display: flex;
    flex-direction: column;
    max-height: 45vh;
    width: 100%;
    overflow: auto;
    font-size: small;
}
#invite_list>div{
    display: flex;
    margin: 5px 5px;
    align-items: center;
}
#invite_list>div>div:last-child{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}
#invite_list a{
    text-decoration: none;
    margin-left: 7px;
}
#invite_list button{
    width: 40px;
    padding: 0;
}
#invite_list button:not(:disabled){
    background-color: rgb(132, 195, 235);
    border-radius: 3px;
    border: 1px solid lightslategrey;
}
#invite_list button:not(:disabled):hover{
    opacity: 0.8;
}
#game_nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
#select_poong>div:first-child,
#select_life{
    display: flex;
    position: relative;
    width: 105px;
    height: 63px;
    padding: 3px 3px;
    justify-content: center;
    align-items: center;
}
#select_life td{
    min-width: 6px;
    height: 6px;
}
#select_poong{
    position: relative;
}
#invite_board{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
#select_poong .yard{
    position: absolute;
    background-color: hsl(196, 100%, 90%);
    border: 1px solid grey;
    width: 99px;
    height: 57px;
    opacity: 0.8;
}
#select_poong>div:first-child>div:nth-child(2),
#select_life>i{
    width: 100%;
    height: 100%;
    color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
#select_poong>div:first-child>div:nth-child(2):hover{
    color: orange;
    font-size: x-large;
}
#select_life>i:hover{
    color: orange;
    font-size: x-large;
}
#select_poong .ibullet{
    position: absolute;
    top: 20px;
    left: 50px;
}
#select_poong .iplayer{
    background: transparent;
}
#select_poong .p_body{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 5px;
    top: 15px;
    background-color: rgb(109, 201, 109);
}
#select_poong .p_hand{
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid #555;
    top: 19px;
    left: 19px;
}
.find_user{
    opacity: 1;
    width: 100%;
    /* border-bottom: #3B5998 solid 3px; */
    height: 28px;
    padding: 5px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
}
.find_user input{
    border: none;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    outline: none;
}
.find_user i:first-child{
    justify-self: start;
    opacity: 0.6;
}
.find_user i:last-child{
    justify-self: end;
    font-size: 18px;
    color:  rgb(78, 81, 122);
    cursor: pointer;
    z-index: 2;
}
#invite_board{
    border: 1px solid  lightgray;
    width: 240px;
    background-color: white;
}

#player_board{
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
#player_board>div{
    display: flex;
}
#player_board .score_status{
    display: flex;
}
#player_board .score_status span:last-child{
    margin-left: 5px;
}
.ibullet{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orangered;
    display: inline-block;
}
#player_board .dead{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
#player_board .alive{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.user a{
    color: rgb(53, 53, 155);
}
.user img{
    border-radius: 50%;
}
.user>div:last-child{
    margin-left: 7px;
}
.icon {
    position: relative;
    display: flex;
}
.user_small img{
    width: 45px;
    height: 45px;
}
.user_small .signal {
    left: 30px;
    top: 35px;

}
.user_tiny img{
    width: 30px;
    height: 30px;
}
.user_tiny .signal {
    left: 20px;
    top: 22px;
    height: 10px;
    width: 10px;

}
.signal{
    position: absolute;
    height: 12px;
    width: 12px;
    border: 2px solid white;
    border-radius: 50%;
}
.online {
    background-color: rgb(18, 201, 18);
}
.offline {
    background-color: rgb(163, 154, 154);
}
::-moz-selection { /* Code for Firefox */
    background: rgba(144, 165, 226, 0.671);
}
  
::selection {
    background: rgba(144, 165, 226, 0.671);
}
#tool_bar > *{
    display: inline-flex;
    border: 1px solid grey;
    background-color: #f0f0f5;
    border-radius: 2px;
    font-size: 16px;
    width: 25px;
    height: 24px;
    align-items: center;
    justify-content: center;

}
#tool_bar .space{
    margin-right: 5px;
}
#tool_bar >.ctn{
    width: fit-content;
}

#tool_bar > .select{
    border: none
}
#tool_bar > .select select{
    font-size: 13px;
    display: inline-block;
    height: 24px;
    width: max-content;
    border: 1px solid grey;
    border-radius: 2px;
}
#tool_bar > .select select:focus{
    border: 2px solid grey;
    border-radius: 3px;
    outline: none;

}
#tool_bar > .select select{
    border: 1px solid grey;
    border-radius: 3px;
}
#tool_bar .colr .prev-i > i{
    font-size: 15px;
}
#tool_bar .colr .prev-i{
    display: inline-flex;
    flex-direction: column;
    margin-right: 2px;
}
#tool_bar .colr .prev-i >div{
    height: 3px;
    margin-top: 0px;
}
#tool_bar .color-select{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    border: 1px solid green
}
#tool_bar .i-wrapper{
    position: relative;
}
#tool_bar .activated{
    background-color: #ccefff;
}
#tool_bar .disabled{
    opacity: 0.55;
}
#tool_bar{
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    z-index: 1;
    width: 100%;
}
#editor_head{
    width: 100%;
    position: sticky;
    background-color: white;
    top: 35px;
    padding-top: 10px;
    
}
#editor_app{
    width: 95%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#link_prompt{
    align-self: flex-start;
    display: flex;
}
#editor_area{
    min-height: 90vh;
    width: 100%;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#editor_area *{
    min-height: 1,1em;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#editor_area> *, p, li{
    width: 100%;
    word-break: break-word;
}
#editor_area figcaption{
    display: flex;
    justify-content: center;
    text-align: center;
}
#editor_area *:not(pre){
    font-family: Arial, Helvetica, sans-serif;
}
#img{
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.img_ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    flex-wrap: nowrap;
}
.close_img{
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    z-index: -1;
}
.img_focus{
    outline: 3px solid rgb(179, 206, 255);
    opacity: 1;
    z-index: 1;

}
div[class*='img_focus']{
    z-index: 2;
}
.close_img:hover{
    cursor: pointer;
    background-color: red;
}
figure{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure>img{
    z-index: 0;
}
.zero_space{
    width: 3px;
}
.zero_space:not(:first-child){
    margin: 1px 1px;
    align-self: stretch;

}
.zero_space:first-child{
    margin-right: 1px;
    align-self: stretch;
}
.zero_space:last-child{
    margin-left: 2px;
    align-self: flex-end;
}
.holder_before::before{
    content: 'write caption for this....';
    text-align: center;
    opacity: 0.5;
}
td, thead{
    border: 1px solid rgba(128, 128, 128, 0.713);
    text-align: center;
}
#weather_app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#weather_app .r_row{
    display: flex;
    flex-direction: row-reverse;
}
#weather_app .col{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
#weather_app .col p, #info p{
    text-align: center;
}
#weather_app p{
    margin-bottom: 0px;
}
#weather_app .r_row #search_bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    margin-left: 20px;
}
#weather_app .col #search_bar{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
}
#weather_app>div>p{
    font-weight: bold;
    font-size: large;
}
#search_bar>button{
    background: transparent;
    border: none;
    font-size: large;
    width: 20px;
    outline: none;
}
#search_bar>input{
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
}
#weather_show{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info #weather_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info #weather_sub{
    display: flex;
    width: 240px;
    flex-direction: row;
    justify-content: space-around;
}

#similar_app{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
}
#input_data>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#input_data>div>div{
    display: flex;
    flex-wrap: nowrap;
    width: 230px;
    justify-content: space-between;
    background-color:   rgb(255, 174, 0);
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    height: 30px;
    align-items: center;
}
#input_data>div>div:first-child{
    margin-right: 20px;
}
#input_data>.btn_orange{
    height: 30px;
    width: 100px;
    
}
#input_data>button{
    height: 28px;
    width: 50px;
    outline: none;
}
#input_data label{
    margin-bottom: 0px;
    margin-left: 5px;
}
#input_data input{
    border: transparent;
    height: 100%;
}
#display_result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}
#display_result>p{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
#display_result>p .src-des{
    font-style: italic;
    text-decoration: underline;
}
#display_result>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#display_result>div>ol .illustrate{
    letter-spacing: 2px;
    text-align: center;
}
#display_result>div>ol .tail{
    opacity: 0.7;
}
#display_result>div>ol .insert{
    background-color:  #42f342c7;
    border-radius: 4px;
}
#display_result>div>ol .substitute{
    background-color:  rgba(255, 255, 0, 0.782);
    border-radius: 4px;

}
#display_result>div>ol .delete{
    background-color:  #ff5c33;
    border-radius: 4px;
}
#display_result>div>table td{
    min-width: 20px
}
#display_result>div>table .best{
    background-color:  #00b33c8e;
}
#display_result>div>table>tbody>tr:nth-child(2)>td:not(:first-child){
    background-color:  pink;
    font-weight: bold;
}
#display_result>div>table>tbody>tr:not(:first-child)>td:nth-child(2){
    background-color: pink;
    font-weight: bold;
}
#display_result>div>table>tbody>tr>td:first-child{
    border: none;
    opacity: 0.6;
}
#display_result>div>table>tbody>tr:first-child>td{
    border: none;
    opacity: 0.6;
}
#display_result>div>table>tbody>tr:nth-child(2)>td:nth-child(2){
    border: none;
    background: none;
}
@media screen and (max-width:480px){
    #input_data>div>div:first-child{
        margin-right: 0px;
    }
    #display_result>div{
        justify-content: start;
    }
    #display_result>div>table{
        margin-right: 25px;
    }
}
table{
    empty-cells: show;
}
#life_game tbody{
    border: 2px solid grey;
}
#life_game td{
    border: 1px solid lightgrey;
    min-width: 8px;
    height: 8px;
}
#life_game >div:nth-child(2){
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#life_game #run_stop{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
#life_game #run_stop:hover{
    opacity: 0.7;
}
#life_game #run_stop >*{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
    color: orangered;
}
@media screen and (max-width:420px){
    #life_game td{
        min-width: 5px;
        height: 5px;
    }
    
}
#poong_game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#poong_game #shooting_yard{
    background-color: peachpuff;
}
#poong_game #shoot{
    margin-left: 90px;
    width: 60px;
    height: 30px;
    border: 1px solid grey;
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
}
#poong_popup{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    width: 100%;
    height: 100%
}
#poong_popup .poong_popup{
    min-width: 200px;
    min-height: 40%;
    padding: 5px 5px;
    background-color: #ffed6656;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#poong_popup p{
    display: inline-block;
    word-wrap: break-word;
    text-align: center;
}
#poong_popup .fb_msg{
    margin-bottom: 0px;
}
#poong_popup .user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#poong_popup .poong_popup>div{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}
#poong_popup #btn_ctn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#poong_popup .wait_player>div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
}
#poong_popup .wait_player{
    margin-bottom: 5px;
}
#poong_popup button{
    width: 70px;
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
    border: 1px solid grey;
}
#poong_popup #btn_ctn>button:first-child{
    background-color: rgb(132, 195, 235);
    margin-right: 15px;
}
#poong_popup i{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 100px;
    z-index: -1;
}
#poong_popup .win_ico{
    color: green;
}
#poong_popup .loose_ico{
    color: red;
}
tr>.alive{
    background-color: #66b3ff;
}
tr>.dead{
    background-color: unset;
}
/* .active {
    background-color: rgba(255, 166, 0, 0.74);
} */
.hide{
    display: none;
}
.popup{
    z-index: 10;
}
.game_selected{
    border: rgba(255, 166, 0, 0.74) 1px solid;
}
button:hover:not(:disabled){
    opacity: 0.7;
}
#poong_popup button{
    width: 70px;
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
    border: 1px solid grey;
}
#flash_popup{
    position: fixed;
    width: 180px;
    left: calc(100vw/2 - 180px/2);
    top: 50px;
    display: grid;
    row-gap: 3px;
    z-index: 15;
}
@keyframes flash{
    0% {background-color: rgba(255, 174, 0, 1);}
    100%{background-color:  rgba(255, 174, 0, 0.2);}
}
.flash{
    animation: flash 3s forwards;
    padding: 4px 4px;
}
.flash{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flash p{
    margin-bottom: 0px;
    background-color: white;
    padding: 3px 3px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_blue{
    background-color: rgb(132, 195, 235);
    border-radius: 5px;
    border: 1px solid grey;
}
.btn_orange{
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
    border: 1px solid grey;
}
input, button{
    outline: none;
}
button:disabled{
    opacity: 0.5;
}
.validate{
    color: #ff3333;
}
img:hover{
    transform: none;
}